{% extends 'layout.html' %}

{% block body %}
<div class="">
    <h1>DIVISIÓN TECNOLOGÍAS DE LA INFORMACIÓN DE LA COMUNICACIÓN</h1>
</div>
<section class="container_divisiones">
    <div class="column_carreras">
        <h2>T.S.U en Infraestructura de Redes Digitales</h2>
        <p>
            Implementar y administrar redes de voz, datos y video digital, a través del uso de conexiones inalámbricas de banda ancha o enlaces de fibra óptica, microondas, satelital y celular que garanticen el óptimo manejo de información de las organizaciones. Implementar y realizar soporte técnico a equipos de acceso a Internet, ya sean móviles, de escritorio de cómputo, Internet de todo (IoE) o servidores de alto rendimiento empresariales.
        </p>
    </div>
    <div class="column_carreras">
        <h2>T.S.U en Infraestructura de Redes Digitales</h2>
        <p>
            Implementar y administrar redes de voz, datos y video digital, a través del uso de conexiones inalámbricas de banda ancha o enlaces de fibra óptica, microondas, satelital y celular que garanticen el óptimo manejo de información de las organizaciones. Implementar y realizar soporte técnico a equipos de acceso a Internet, ya sean móviles, de escritorio de cómputo, Internet de todo (IoE) o servidores de alto rendimiento empresariales.
        </p>
    </div>
    <div class="column">
        <h2></h2>
    </div>
</section>


{% endblock %}