{% extends 'layout.html' %}

{% block body %}
<h1 class="title_agregados">Últimos proyectos agregados</h1>
    <div class="container">

        <div class="card">
            <img src="https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
            <h4>Proyecto A</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto atque id voluptatum sapiente minima dicta libero suscipit quam earum labore exercitationem, culpa cumque, voluptas ex? Quae obcaecati asperiores dolores quasi.</p>
            <button class="btn btn-dark">Ver mas</button>
        </div>

        <div class="card">
            <img src="https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
            <h4>Proyecto B</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto atque id voluptatum sapiente minima dicta libero suscipit quam earum labore exercitationem, culpa cumque, voluptas ex? Quae obcaecati asperiores dolores quasi.</p>
            <button class="btn btn-dark">Ver mas</button>
        </div>

        <div class="card">
            <img src="https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
            <h4>Proyecto C</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto atque id voluptatum sapiente minima dicta libero suscipit quam earum labore exercitationem, culpa cumque, voluptas ex? Quae obcaecati asperiores dolores quasi.</p>
            <button class="btn btn-dark">Ver mas</button>
        </div>
    </div>
    <h1 class="title_agregados">Carreras UTM</h1>
    <section class="container_carreras">
        <img src="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <div class="carreras_text">
            <h4>Tecnologias de la informacion y comunicacion</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorem eos impedit, voluptate reiciendis similique id molestias saepe deleniti ad! Fugiat commodi iusto et enim aspernatur ea rem fugit eum.</p>
        </div>
    </section>
{% endblock %}
